@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0a0a0a;
  font-family: "Source Code Pro", serif;
color: #fff;
transition: backgorund-color .6s ease-in-out;
}


.blocks{
    width: 5rem;
    height: 5rem;
  position: relative;
    border-radius: 5px;
}
.main-con{
    font-size: 2rem;
}

#start-btn{
    border: #fff 1px solid;
    border-radius: 5px;
    transition: all .3s ease;
    padding: .8rem;
    cursor: pointer;
  }
  
 #start-btn:hover{
   letter-spacing: .3em;
    background-color: rgb(51, 15, 255);
  }

 .selected-block{
   border: #fff 1px solid;
 }

 .start-animate::after{
position: absolute;
z-index: 99;
top:0;
left: 0;
width: 5rem;
height: 5rem;
background-color: #fff;
  }