@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0a0a0a;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #fff;
transition: backgorund-color .6s ease-in-out;
}

.blocks {

  background-color: #0A0A0A;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s  ease-in;
}

.flash {
  background-color: #ffffffb4 !important;

}

.win-animate{
  background-color: #30ff30;
}

.lose-animate{
  background-color: #ff0000;
}

 .op-button{
  font-size: large;
 border: #fff 2px solid;
border-radius: .5rem;
 padding: 25px;
 margin: 5px;
 cursor: pointer;
 transition: all .2s ease;
}
.op-button:hover{
 
  background-color: rgb(51, 15, 255);
  color: #fff;
  
}
#start-btn{
  transition: all .3s ease;
}


.level-text{
  transition: font-size .2s ease;
}
.level-animate{
  background-color: #21ff2165;
  font-size: 4.5rem;
}